
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClientRiskLabel" translate="mosaicApp.clientRisk.home.createOrEditLabel">Create or edit a Client Risk</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.clientRisk.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.clientRisk.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mosaicApp.clientRisk.gfcId" for="field_gfcId">Gfc Id</label>
            <input type="number" class="form-control" name="gfcId" id="field_gfcId"
                    ng-model="vm.clientRisk.gfcId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mosaicApp.clientRisk.listType" for="field_listType">List Type</label>
            <input type="text" class="form-control" name="listType" id="field_listType"
                    ng-model="vm.clientRisk.listType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mosaicApp.clientRisk.temperature" for="field_temperature">Temperature</label>
            <input type="text" class="form-control" name="temperature" id="field_temperature"
                    ng-model="vm.clientRisk.temperature"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
